<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <title>malkier/kythera @ GitHub</title>

    <link rel="stylesheet" href="css/default.css" type="text/css">
  </head>

  <body>
    <a href="http://github.com/malkier/kythera">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>

    <div id="container">
      <div class="download">
        <a href="http://github.com/malkier/kythera/zipball/master">
          <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
        <a href="http://github.com/malkier/kythera/tarball/master">
          <img border="0" width="90" src="http://github.com/images/modules/download/tar.png">
        </a>
      </div>

      <h1>
        <a href="http://github.com/malkier/kythera">kythera</a>
        <span class="small">by <a href="http://github.com/malkier">malkier</a></span>
      </h1>

      <div class="description">
        services for IRC networks
      </div>

      {{ content }}

      <div class="footer">
        get the source code on GitHub : <a href="http://github.com/malkier/kythera">malkier/kythera</a><br>
        <br>
        <a href="http://www.malkier.net/">tai'shar malkier</a>
        <br>
        <br>
      </div>
    </div>
  </body>
</html>
